/*
 * Input your following values,
 *   - consumer key
 *   - consumer secret
 *   - access token
 *   - access secret
 * and rename this file to "config.scala".
 */

import devnulltter._

new Config {
    val dev = "/dev/nulltter"

    val consumerKey = ""
    val consumerSecret = ""
    val consumer = Consumer(consumerKey, consumerSecret)

    val accessToken = ""
    val accessSecret = ""
    val token = new Token(accessToken, accessSecret)
}
